h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #246A73;
}

h1{
  opacity: 0;
  transform: translateY(5px);
  animation: mainText 0.5s ease-in forwards 0.1s;
}

h2 {
    color: #d4ad95;
    font-size: 20px;
    font-weight: lighter;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}

h3 {
    font-size: 1.5rem;
    color: #efefef;
    background-color: #161616;
    padding: 10px;
    border-radius: 5%;
}

a {
  text-decoration: none;
}

body {
    background-color: #4a4e66;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
}

p {
    color: #0c2427;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    color: #6fa7a4;
}

div {
    display: block;
}

.card {
    background-color: #F3DFC1;
    padding: 40px;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
    border-radius: 4px;
    margin: 30px 0px;
    text-align: center;
}

.btn-blue {
  all: none;
  background-color: #7fcac6;
  margin: 30px;
  color: white;
  padding: 10px 10px;
  border-radius: 4px;
  line-height: 15px;
  box-shadow: 2px 3px 1px rgb(100 100 100 / 10%);
}

.btn-blue:hover{
    background-color: #387e7a;
}

a:-webkit-any-link {
    cursor: pointer;
}

.img-circle {
    border-radius: 50%;
}

#introduction p {
    margin-bottom: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.list-inline {
    list-style: none;
    padding-left: 0px;
}

.list-inline li {
    display: inline-block;
    padding: 3px;
    font-size: 35px;
    opacity: 65%;
}

ul {
    margin: 0px;
}

.container {
    margin: 40px auto;
    width: 1000px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
}

.grid-item1 {
    grid-column: 1/2;
    opacity: 0;
    transform: translateY(5px);
    animation: mainText 0.5s ease-in forwards 1s;
}

.grid-item2 {
    grid-column: 2/3;
    opacity: 0;
    transform: translateY(5px);
    animation: mainText 0.5s ease-in forwards 1.5s;
}


.grid-item3 {
    grid-column: 3/4;
    opacity: 0;
    transform: translateY(5px);
    animation: mainText 0.5s ease-in forwards 2s;
}

.webscreen {
  object-fit: contain;
  filter: drop-shadow(-0vw 0vmin 0px black);
  transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

.webscreen:hover {
  transform: translateY(-5px);
  filter: drop-shadow(-0.1vw 0.4vmin 5px black);
}

img {
    max-width: 100%;
    max-height: 100%;
   }


.skillboard1 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateY(5px);
    animation: mainText 1s ease-in forwards 0.5s;
}

.skillboard2 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    opacity: 0;
    transform: translateY(5px);
    animation: mainText 1s ease-in forwards 1s;
}

.skills {
    margin: 1vh;
}

.sociallinks:hover {
  color: #387471;
}

@keyframes mainText {
  to {
    transform: translateY(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}


@media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
    .container {
      width: 700px;
    }
  }

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
  .skillboard1 {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .skillboard2 {
    flex-direction: column;
  }

  .grid-container {
    display: block;
  }

  .grid-item1 {
    grid-row: 1/2;
}

  .grid-item2 {
    grid-row: 2/3;
  }


  .grid-item3 {
      grid-row: 3/4;
  }

}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 450px;
  }
}

@media (max-width: 475px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 350px;
  }
}

@media (max-width: 375px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 250px;
  }
}

