
  
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #246A73;
}

h2 {
    color: #d4ad95;
    font-size: 20px;
    font-weight: lighter;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #4a4e66;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
}

p {
    color: #0c2427;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    color: #6fa7a4;
}

a:hover {
    opacity: 0.5;
}


div {
    display: block;
}

.card {
    background-color: #F3DFC1;
    padding: 40px;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
    border-radius: 4px;
    margin: 30px 0px;
    text-align: center;
}

.btn-blue {
    background-color: #7fcac6;
    margin: 30px;
    color: white;
    padding: 10px 10px;
    border-radius: 4px;
    line-height: 15px;
    box-shadow: 2px 3px 1px rgb(100 100 100 / 10%);
}

a:-webkit-any-link {
    cursor: pointer;
}

.img-circle {
    border-radius: 50%;
}

#introduction p {
    margin-bottom: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.list-inline {
    list-style: none;
    padding-left: 0px;
}

.list-inline li {
    display: inline-block;
    padding: 3px;
    font-size: 35px;
    opacity: 65%;
}

ul {
    margin: 0px;
}

.container {
    margin: 40px auto;
    width: 700px;
}

@media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
    .container {
      width: 700px;
    }
  }

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
